body {
  font-family: Arial, Helvetica, sans-serif;
  margin:20px;
  padding:20px;
}

.cartProductName {
  font-weight: bold;
  font-size: 120%;
}

.cartPrice {
  color: forestgreen;
  font-size: 120%;
}
